html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
    background:url("../images/select.png")  no-repeat center;
    background-size:cover;
  '''background: radial-gradient(circle at 20% 30%, #ffe4ec, #d0f4de, #e0c3fc);'''
    display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
    max-width: 450px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.top-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.back-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.step {
    color: #333;
    font-weight: 500;
}

.main-title {
    text-align: center;
    color: #6f2dbd;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-title {
    color: #6f2dbd;
    font-size: 16px;
    text-align: center;
    margin: 15px 0 10px;
    font-weight: 600;
}

.calendar-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.date-picker {
    text-align: center;
    margin-bottom: 25px;
}

.date-picker label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.date-picker input[type="date"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #aaa;
    font-size: 14px;
}

form {
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: #dfdede;
    border-radius: 8px;
}



input[type="radio"] {
    accent-color: #a020f0; /* purple circle */
}

.next-btn {
    background-color: #d10078;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0 auto;
    transition: background 0.3s ease;
}

.next-btn:hover {
    background-color: #b0006a;
}
